<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.ns/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title>チャート比較</title>
	</head>
	<body>
		<div th:fragment="chart_contents">
			<div class="page-header">
			</div>
			<form method="post" th:action="@{/chart}" th:object="${chartController}">		
				<p>比較する年を選択</p>
				<p>
				<select name="year" size="1">
				<option value="2019">2019年</option>
				</select>
				
				</p>
			</form>
			
			
			<div class="col-sm-8">	
				<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
				<canvas id="line-chart"></canvas>
				<script type="text/javascript" th:inline="Javascript">
				  var context = document.getElementById('line-chart').getContext('2d');
				  var line_chart = new Chart(context, {
				    type:'line', // グラフのタイプを指定
				    data:{
				      labels:[[ ${label1} ]], // グラフ下部のラベル
				      datasets:[
				        {label:'日経平均株価',  // データのラベル
				          data:[[ ${point1} ]], // グラフ化するデータの数値
				          fill:false, // グラフの下部を塗りつぶさない
				          borderColor:'rgb(54, 162, 235)'}, // 線の色
			         	{label:'ポートフォリオ',  // データのラベル
				          data:[[ ${point2} ]], // グラフ化するデータの数値
				          fill:false, // グラフの下部を塗りつぶさない
				          borderColor:'rgb(60, 190, 20)'} // 線の色
				      ]
				    },
				    options:{
				      scales:{
				        yAxes:[{
				          ticks:{
				            min:-25, // グラフの最小値
				            max: 25 // グラフの最大値
				          }
				        }]
				      },
				      elements:{
				        line:{
				          tension: 0 // 線グラフのベジェ曲線を無効にする
				        }
				      }
				    }
				  });
				</script>
			</div>	
		</div>
	</body>
</html>