<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.ns/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
		<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"></link>
		<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
		<link th:href="@{/css/home.css}" rel="stylesheet"></link>
	<title>input</title>
</head>
<body>
<!-- =====ヘッダー　（ナビゲーションバー）===== -->
	<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		<div class="container-fluid">
			<form method="post" th:action="@{/index}">
				<button class="btn btn-link pull-left navbar-brand" type="submit">$$$ My Trade $$$</button>
			</form>
		</div>
	</nav>
	<h2>入力フォーム</h2>
	<form method="post" th:action="@{/output}">
		銘柄番号: <input type="text" name="x" /><br />
		    購入額: <input type="text" name="b" /><br />
		    購入数: <input type="text" name="c" /><br />
        <input type="submit" />
    </form>
</body>
</html>