<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.ns/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
		<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"></link>
		<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
		<link th:href="@{/css/home.css}" rel="stylesheet"></link>
	<title>output</title>
</head>
<body>
<!-- =====ヘッダー　（ナビゲーションバー）===== -->
	<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		<div class="container-fluid">
			<form method="post" th:action="@{/index}">
				<button class="btn btn-link pull-left navbar-brand" type="submit">$$$ My Trade $$$</button>
			</form>
		</div>
	</nav>
	<h2>計算結果</h2>
	<p>
		(<span th:text="${a}">a</span>-<span th:text="${b}">b</span>)*<span th:text="${c}">c</span>=<span th:text="${total}">total</span>
	</p>
	<p>
		現在あなたは、<span th:text="${total}">total</span>円　得をしています
	</p>
</body>
</html>